@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"); // colors
$primary-color: #020c1b;
$primary-color-light: #16233a;
$primary-color-md: #112240;
$grey: #404040;
$white: #fff;
$primary-white: #e6f1ff;
$secondary-white: #f7f7f7;

//Fonts
$font-Lato: "Lato", sans-serif;
$font-Open-Sans: "Open Sans", sans-serif;
$font-Roboto: "Roboto", sans-serif;
// Small devices (landscape phones, 576px and up)
$laptopBreakpoint: 1200px;
$tabletBreakpoint: 1200px;
$mobileBreakpoint: 1200px;

$primary-dark: #0e0e0e;
$primary-dark-light: #151717;
$primary-green: #64ffda;
$primary-blue: #57cbff;
$primary-navy: #0a192f;
$primary-navy-light: #112240;
$primary-slate: #8892b0;
$primary-slate-light: #f6f8ff;
$white: #e6f1ff;
$secondary-hover: hsla(0, 0%, 100%, 0.08);
$overlay: rgba(0, 0, 0, 0.72);
$shadow-menu: rgba(0, 0, 0, 0.84);
$danger: #cc2e3d;
$warning: #ffad3a;
$info: #377cfc;
$blue: #57cbff;
$violet: #2a3052;
$green: #00a79e;
$light-grey: #fffcfc;
$md-grey: #e2e2e2;
$dark-grey: #706f6f;
