@import "./partials/_variables.scss";
@import "./partials/mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-Roboto;
}
.header {
  height: 8vh;
  width: 100%;
  border-bottom: 1px solid $grey;
  display: flex;
  align-items: center;

  &__container {
    width: 90%;
    margin: auto;
  }
  &__nav {
    &-brand div {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
.explorer {
  min-height: 92vh;
  width: 100%;
  &__container {
    // background-color: $primary-slate-light;
    display: grid;
    display: flex;
    grid-template-columns: 1fr 2fr 10fr;
    height: auto;

    @include laptopBreakpoint() {
      grid-template-columns: 1fr 3fr 8fr;
    }
    @include tabletBreakpoint() {
      grid-template-columns: 1fr 4fr 8fr;
    }
    @include mobileBreakpoint() {
      grid-template-columns: 1fr 4fr 8fr;
    }
  }
  &__icon {
    min-width: 60px;
    max-width: 70px;
    min-height: 92vh;
    padding-top: 1rem;
    border-right: 1px solid $grey;
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > div.active {
        border-left: 2px solid;
      }
      & > div {
        width: 100%;
        margin-bottom: 2rem;
        cursor: pointer;

        .container {
          width: 50%;
          margin: auto;
        }

        i {
          font-size: 2rem;
        }
      }
    }
  }
  &__content {
    user-select: none;
    border-right: 1px solid $grey;
    // padding-top: 1rem;
    min-width: 230px;
    max-width: 300px;

    #open-editors {
      &:hover {
        ul.d-none {
          display: flex !important;
        }
      }
    }

    &-editor {
      width: 92%;
      margin-left: auto;
      height: 100%;
      visibility: visible;
      &--collapsed {
        overflow-y: hidden;
        height: 0;
      }
      &-container {
        padding: 0.2rem 0;
      }
      &-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        &:hover {
          .status {
            visibility: visible;
          }
        }
      }
      .status {
        margin-right: 0.4rem;
        visibility: hidden;
        transition: all 0.2s linear;
        border-radius: 3px;
        width: 16px;
        text-align: center;
        font-size: 0.8rem;
        cursor: pointer;

        &--modified {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: darkgrey;
          text-align: center;
        }
        &:hover {
          color: #fff;
          background-color: $primary-color-md;
        }
      }
      .icon {
        margin-right: 1rem;
        object {
          width: 16px;
          height: 16px;
        }
      }
    }
    &-container {
      width: 85%;
      margin: auto;
      background-color: #fff;
      &--collapsed {
        overflow-y: hidden;
        // visibility: hidden;

        height: 0;
      }
      &--expanded {
        height: 100%;
        visibility: visible;
      }
    }

    &-input {
      width: 100%;
      margin-left: 0.5rem;

      &-group {
        display: flex;
        justify-content: space-between;
      }
      &-icon {
        margin-right: 0.5rem;
        object,
        img {
          width: 16px;
          height: 16px;
        }
      }
      &-textField {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
    &-textField-error {
      padding: 0.5rem;
      background: $violet;
      margin-top: 0.4rem;
      span {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 100;
      }
    }

    &-headerNav {
      background-color: whitesmoke;
      padding: 0.2rem;
      &#open-editors {
        background: #fff;
        padding: 0;
        nav {
          background-color: whitesmoke;
        }
      }
      &-group {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        div {
          margin-left: 0.5rem;
        }
      }
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;
        // border: 1px solid;
        padding: 0.13rem 0;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;

          li {
            margin-right: 0.2rem;
            cursor: pointer;
          }
        }
      }
    }

    &-wrapper {
      // width: 85%;
      // margin: auto;
    }
    &-file {
      &:hover {
        background-color: $dark-grey;
      }
    }

    &-folder,
    &-file {
      // border-bottom: 1px solid $dark-grey;
      transition: 0.1s linear;
      height: 100%;

      position: relative;
      user-select: none;
      &-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.3rem;
        cursor: pointer;
        overflow: hidden;
      }
      &-arrow {
        margin-right: 0.5rem;
      }
      &-name {
        font-size: 0.8rem;
      }
      // 22603624898
      &-icon {
        margin-right: 1rem;
        object,
        img {
          width: 16px;
          height: 16px;
        }
      }
      &--collapsed {
        background-color: $secondary-white;
        // & > .explorer__content-file.nested.d-none,
        // .explorer__content-folder.nested.d-none {
        //   display: block;
        // }
      }
      &--over {
        background-color: $dark-grey;

        & > {
          background-color: $dark-grey;
        }
      }
    }
  }
  .context {
    position: absolute;
    top: 0;
    right: -80%;
    z-index: 10;
    background: $dark-grey;
    min-width: 10rem;

    &__container {
      // width: 90%;
      margin: auto;

      ul {
        list-style: none;
        // padding: 1rem;
        padding-bottom: 0;
        padding-top: 1rem;

        li {
          color: #fff;
          padding-bottom: 0.5rem;
          margin-bottom: 0.8rem;
          // margin-top: 0.8rem;
          font-size: 0.8rem;
          padding-left: 1rem;
          // padding-top: 0.2rem;
          cursor: pointer;
          // background-color: $info;

          &:hover {
            background-color: $info;
          }
        }
      }
    }
  }
  .delete__zone {
    position: fixed;
    top: 0;
    height: 8vh;
    background: #fff;
    width: 100vw;
    visibility: hidden;

    &--over {
      visibility: visible;

      &--dashed {
        border: 3px dashed $grey;
      }
    }

    &-container {
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      span {
        font-size: 3em;
        color: $danger;
      }
    }
  }

  &__view {
    width: 100%;
    &-container {
      // display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .explorer__view-header {
        width: 100%;
        height: auto;
        // border-bottom: 1px solid $grey;

        &-group {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          outline: 1px solid $dark-grey;
        }
        &-files {
          user-select: none;
          min-width: 150px;
          height: 2rem;
          max-height: 3rem;
          flex-grow: 1;
          // border-right: 1px solid $dark-grey;
          // border-bottom: 1px solid $dark-grey;
          outline: 1px solid $dark-grey;
          margin-right: 1px;
          cursor: pointer;

          &:hover {
            span.remove {
              visibility: visible;
            }
          }
          &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 0.5rem;

            span.icon {
              width: 1rem;
              height: 1rem;
              object {
                width: 100%;
                height: 100%;
              }
            }
            span.status {
              visibility: hidden;
              background-color: $primary-color-md;
              border-radius: 5rem;
              width: 10px;
              height: 10px;
            }
            &span.status--visible {
              visibility: visible;
            }
            span.remove {
              visibility: hidden;
              transition: all 0.2s linear;
              border-radius: 3px;
              width: 16px;
              text-align: center;
              font-size: 0.8rem;

              &:hover {
                color: #fff;
                background-color: $primary-color-md;
              }
            }
          }
        }
      }

      h4 {
        font-size: 2rem;
        font-weight: 400;
        color: $primary-slate;
        font-family: $font-Open-Sans;
        outline: none;
      }
    }
  }
}

// Levels
.nested {
  margin-left: 0.5rem;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.v-hidden {
  visibility: hidden !important;
}
span.name {
  font-size: 0.8rem;
}
//CodeMirror
#file__content {
  border-top: 1px solid;
}
.CodeMirror {
  min-height: 100vh !important;
}
.CodeMirror-line {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}
