@import "./partials/_variables.scss";
@import "./partials/mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-Roboto;
}
.header {
  height: 8vh;
  width: 100%;
  border-bottom: 1px solid $grey;
  display: flex;
  align-items: center;

  &__container {
    width: 90%;
    margin: auto;
  }
  &__nav {
    &-brand div {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
.explorer {
  min-height: 92vh;
  width: 100%;
  &__container {
    // background-color: $primary-slate-light;
    display: grid;
    display: flex;
    grid-template-columns: 1fr 2fr 10fr;
    height: auto;

    @include laptopBreakpoint() {
      grid-template-columns: 1fr 3fr 8fr;
    }
    @include tabletBreakpoint() {
      grid-template-columns: 1fr 4fr 8fr;
    }
    @include mobileBreakpoint() {
      grid-template-columns: 1fr 4fr 8fr;
    }
  }
  &__icon {
    min-width: 60px;
    max-width: 70px;
    min-height: 92vh;
    padding-top: 1rem;
    border-right: 1px solid $grey;
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > div.active {
        border-left: 2px solid;
      }
      & > div {
        width: 100%;
        margin-bottom: 2rem;
        cursor: pointer;

        .container {
          width: 50%;
          margin: auto;
        }

        i {
          font-size: 2rem;
        }
      }
    }
  }
  &__content {
    user-select: none;
    border-right: 1px solid $grey;
    // padding-top: 1rem;
    min-width: 230px;
    max-width: 300px;

    #open-editors {
      &:hover {
        ul.d-none {
          display: flex !important;
        }
      }
    }

    &-editor {
      width: 92%;
      margin-left: auto;
      height: 100%;
      visibility: visible;
      &--collapsed {
        overflow-y: hidden;
        height: 0;
      }
      &-container {
        padding: 0.2rem 0;
      }
      &-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;

        &:hover {
          .status {
            visibility: visible;
            &:before {
              visibility: visible;
            }
          }
        }
      }
      .status {
        margin-right: 0.4rem;
        visibility: hidden;
        transition: all 0.2s linear;
        border-radius: 3px;
        width: 13px;
        height: 13px;
        text-align: center;
        font-size: 0.8rem;
        cursor: pointer;
        position: relative;
        &--visible {
          visibility: visible;
          background-color: $primary-slate;
          border-radius: 50%;
        }
        &::before {
          content: "x";
          position: absolute;
          background-color: $primary-slate;
          color: $white;
          cursor: pointer;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          text-align: center;
          width: 14px;
          height: 14px;
          font-size: 0.8rem;
          border-radius: 2px;
          visibility: hidden;
        }
        &:hover {
          color: #fff;
          background-color: $primary-color-md;
        }
      }
      .icon {
        margin-right: 1rem;
        width: 14px;
        height: 14px;
        object {
          height: 100%;
          width: 100%;
        }
      }
    }
    &-container {
      width: 85%;
      margin: auto;
      background-color: #fff;
      &--collapsed {
        overflow-y: hidden;
        // visibility: hidden;

        height: 0;
      }
      &--expanded {
        height: 100%;
        visibility: visible;
      }
    }

    &-input {
      width: 100%;
      margin-left: 0.5rem;

      &-group {
        display: flex;
        justify-content: space-between;
      }
      &-icon {
        margin-right: 0.5rem;
        object,
        img {
          width: 16px;
          height: 16px;
        }
      }
      &-textField {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
    &-textField-error {
      padding: 0.5rem;
      background: $violet;
      margin-top: 0.4rem;
      span {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 100;
      }
    }

    &-headerNav {
      background-color: whitesmoke;
      padding: 0.2rem;
      padding-left: 0.5rem;
      &#open-editors {
        background: #fff;
        padding: 0;
        nav {
          padding-left: 0.5rem;
          background-color: whitesmoke;
        }
      }
      &-group {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        div {
          margin-left: 0.5rem;
        }
      }
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;
        // border: 1px solid;
        padding: 0.13rem 0;
        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;

          li {
            margin-right: 0.2rem;
            cursor: pointer;
            margin-right: 0.2rem;
            cursor: pointer;
            transition: all 0.2s linear;
            border-radius: 3px;
            width: 20px;
            text-align: center;
            font-size: 1rem;

            &:hover {
              background-color: $md-grey;
            }
          }
        }
      }
    }

    &-wrapper {
      // width: 85%;
      // margin: auto;
    }
    &-file {
      &:hover {
        background-color: $dark-grey;
      }
    }

    &-folder,
    &-file {
      // border-bottom: 1px solid $dark-grey;
      transition: 0.1s linear;
      height: 100%;

      position: relative;
      user-select: none;
      &-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.3rem;
        cursor: pointer;
        overflow: hidden;
      }
      &-arrow {
        margin-right: 0.5rem;
      }
      &-name {
        font-size: 0.8rem;
      }
      // 22603624898
      &-icon {
        margin-right: 1rem;
        object,
        img {
          width: 16px;
          height: 16px;
        }
      }
      &--collapsed {
        background-color: $secondary-white;
        // & > .explorer__content-file.nested.d-none,
        // .explorer__content-folder.nested.d-none {
        //   display: block;
        // }
      }
      &--over {
        background-color: $dark-grey;

        & > {
          background-color: $dark-grey;
        }
      }
    }
  }
  .context {
    position: absolute;
    top: 0;
    right: -80%;
    z-index: 10;
    background: $dark-grey;
    min-width: 10rem;

    &__container {
      // width: 90%;
      margin: auto;

      ul {
        list-style: none;
        // padding: 1rem;
        padding-bottom: 0;
        padding-top: 1rem;

        li {
          color: #fff;
          padding-bottom: 0.5rem;
          margin-bottom: 0.8rem;
          // margin-top: 0.8rem;
          font-size: 0.8rem;
          padding-left: 1rem;
          // padding-top: 0.2rem;
          cursor: pointer;
          // background-color: $info;

          &:hover {
            background-color: $info;
          }
        }
      }
    }
  }
  .delete__zone {
    position: fixed;
    top: 0;
    height: 8vh;
    background: #fff;
    width: 100vw;
    visibility: hidden;

    &--over {
      visibility: visible;

      &--dashed {
        border: 3px dashed $grey;
      }
    }

    &-container {
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      span {
        font-size: 3em;
        color: $danger;
      }
    }
  }

  &__view {
    width: 100%;
    &-container {
      // display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .explorer__view-header {
        width: 100%;
        height: auto;
        // border-bottom: 1px solid $grey;

        &-group {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          outline: 1px solid $dark-grey;
        }
        &-files {
          user-select: none;
          min-width: 150px;
          height: 2rem;
          max-height: 3rem;
          flex-grow: 1;
          // border-right: 1px solid $dark-grey;
          // border-bottom: 1px solid $dark-grey;
          outline: 1px solid $dark-grey;
          margin-right: 1px;
          cursor: pointer;

          &--active {
            background-color: $primary-slate-light;
          }

          &:hover {
            span.remove {
              visibility: visible;
            }
          }
          &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 0.5rem;
            &:hover {
              .status {
                &:before {
                  visibility: visible;
                }
              }
            }

            span.icon {
              width: 1rem;
              height: 1rem;
              object {
                width: 100%;
                height: 100%;
              }
            }
            // span.status {
            //   visibility: hidden;
            //   background-color: $primary-color-md;
            //   border-radius: 5rem;
            //   width: 10px;
            //   height: 10px;
            // }
            span.status {
              visibility: hidden;
              transition: all 0.2s linear;
              border-radius: 3px;
              width: 12px;
              height: 12px;
              text-align: center;
              font-size: 0.8rem;
              position: relative;

              &--visible {
                visibility: visible;
                background-color: $primary-slate;
                border-radius: 50%;
              }
              &::before {
                content: "x";
                position: absolute;
                background-color: $primary-slate;
                color: $white;
                cursor: pointer;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                text-align: center;
                width: 15px;
                height: 15px;
                visibility: hidden;
              }
            }
          }
        }
      }

      h4 {
        font-size: 2rem;
        font-weight: 400;
        color: $primary-slate;
        font-family: $font-Open-Sans;
        outline: none;
      }
    }
  }
}
.search {
  min-height: 92vh;

  &__wrapper {
    border-right: 1px solid $grey;
    height: 100%;
    min-width: 230px;
    max-width: 300px;
  }

  &__nav {
    width: 90%;
    margin: auto;
    padding: 0.7rem 0;
    &-group {
      display: flex;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;

      div {
        margin-left: 0.5rem;
        font-weight: 400;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.9rem;
      // border: 1px solid;
      padding: 0.13rem 0;
      div.group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 43%;

        button {
          margin-right: 0.2rem;
          cursor: pointer;
          transition: all 0.2s linear;
          border-radius: 3px;
          width: 23px;
          text-align: center;
          font-size: 1rem;
          background: transparent;
          border: none;

          &:hover {
            background-color: $md-grey;
          }
          &:disabled {
            cursor: default;
            background-color: transparent;
          }
        }
      }
    }
  }

  &__inputs {
    width: 100%;
    &-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-arrow {
      width: 10%;
      margin-top: 10%;
      text-align: center;
      span {
        transition: all 0.2s linear;
        padding: 1rem 0.15rem;
        cursor: pointer;
        &:hover {
          background-color: $md-grey;
        }
      }
    }
    &-input {
      width: 90%;
      .wrapper {
        display: flex;
        margin-bottom: 0.5rem;
        position: relative;
        height: 2rem;
        width: 95%;
        input {
          &:focus {
            outline: 1px solid $blue;
            border: none;
          }
        }
        &.replace {
          input {
            width: 85%;
          }
          button {
            background-color: transparent;
            border: none;
            margin-left: 0.3rem;
          }

          .replaceBtn {
            width: 13%;
            margin-left: auto;

            div.replace_all {
              cursor: pointer;
              text-align: center;
              transition: all 0.2s linear;
              border-radius: 3px;
              margin-bottom: 0.5rem;
              &:hover {
                background-color: $md-grey;
              }
            }
            span#toggle__search__details {
              cursor: pointer;
              text-align: center;
              transition: all 0.1s linear;
              border-radius: 3px;
              margin-left: 0.2rem;
              &:hover {
                background-color: $md-grey;
              }
            }
          }
        }

        input {
          width: 100%;
          height: 100%;
          &::placeholder {
            padding-left: 0.22rem;
            font-size: 0.7rem;
          }
        }
        .matchers {
          position: absolute;
          right: 2%;
          top: 20%;

          span {
            font-size: 0.8rem;
            transition: all 0.2s linear;
            cursor: pointer;
            padding: 0.1rem;
            border-radius: 0.2rem;
            font-weight: 500;
            &.--active {
              background-color: $blue;
            }
            &:hover {
              background-color: $md-grey;
            }
            &:focus {
              outline: none;
              border: 1px solid $blue;
            }
          }
        }
      }
    }
    .toggled-inputs {
      label {
        font-size: 0.7rem;
        font-weight: 400;
        color: $grey;
      }
      .container {
        width: 95%;
        margin-bottom: 0.3rem;
      }
      input {
        width: 100%;
        height: 1.7rem;
        &:focus {
          outline: 1px solid $blue;
          border: none;
        }
        &::placeholder {
          padding-left: 0.22rem;
          font-size: 0.7rem;
        }
      }
    }
  }
  &__result {
    &-wrapper {
      margin-bottom: 0.3rem;
      transition: all 0.05s linear;
      &:hover {
        background-color: $md-grey;

        .search__result-count {
          &:before {
            visibility: visible;
          }
        }
      }
    }
    &-container {
      margin: auto;
    }
    span {
      margin-right: 0.5rem;
    }
    &-group {
      display: grid;
      grid-template-columns: 10fr 2fr;
      align-items: center;
      text-align: right;
      cursor: pointer;
      width: 90%;
      margin: auto;

      & > div {
        display: flex;
        width: 100%;
        &:nth-of-type(2) {
          justify-content: center;
        }
      }
    }
    &-icon {
      width: 1rem;
      height: 1rem;
    }
    &-name {
      font-size: 0.8rem;
    }
    &-count {
      font-size: 0.8rem;
      margin-right: 0 !important;
      text-align: right;
      border-radius: 0.5rem;
      position: relative;

      &::before {
        content: "x";
        position: absolute;
        background-color: $dark-grey;
        color: $white;
        cursor: pointer;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 50%;
        text-align: center;
        width: 15px;
        height: 15px;
        visibility: hidden;
        // width: fit-content;
      }
    }
    &-text {
      font-size: 0.7rem;
      // margin-left: 2rem;
      background-color: #fff;
      cursor: pointer;
      margin-top: 0.1rem;
      div {
        padding: 0.2rem 0;
        display: grid;
        grid-template-columns: 12fr 2fr;
        &:hover {
          background-color: $info;
          span.remove {
            visibility: visible;
          }
        }
        p {
          margin-left: 2rem;
          line-height: 1;
          span {
            margin: 0;
            background-color: $dark-grey;
          }
        }
        span.remove {
          font-size: 0.8rem;
          border-radius: 3px;
          width: 18px;
          text-align: center;
          background: transparent;
          border: none;
          visibility: hidden;

          &:hover {
            background-color: $md-grey;
          }
        }
      }
      &--hide {
        display: none;
      }
    }
  }
  .message {
    width: 80%;
    text-align: left;
    margin: auto;
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: 1rem;
    color: $danger;
  }
}
.dialog__modal {
  &-overlay {
    height: 100vh;
    width: 100vw;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.846);
    filter: blur(2px);
  }
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    z-index: 5;
    background-color: #fff;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.056),
      0px 0px 0px 3px rgba(0, 0, 0, 0.054);
    border: 2px solid $grey;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0.3rem 0.4rem;
    h4 {
      font-size: 0.9rem;
      font-weight: 500;
      color: $dark-grey;
      padding-left: 0.3rem;
    }
    button.cancel {
      background-color: transparent;
      border: none;
      width: 25px;
      // background-color: red;
      padding: 0.3rem 0.3rem 0.2rem 0.3rem;
      text-align: center;
      color: $grey;
      &:hover {
        background-color: $danger;
        color: #fff;
      }
    }
  }
  &-content {
    width: 80%;
    margin: 1rem auto;
  }
  &-message {
    margin-bottom: 1rem;
    p {
      font-size: 1.3rem;
      font-weight: 400;
      color: $info;
    }
  }
  &-subMessage {
    margin-bottom: 1rem;
    p {
      font-size: 0.8rem;
    }
  }
  &-footer {
    background-color: $light-grey;
    &-container {
      width: 50%;
      margin-left: auto;
      display: flex;
      justify-content: flex-start;
      padding: 0.6rem 0;
    }

    button {
      min-width: 50px;
      display: inline-block;
      border: 1px solid $grey;
      padding: 0.1rem 0.3rem;
      margin-right: 0.5rem;
      text-transform: capitalize;
      &:hover {
        background-color: $light-blue;
        border: 1px solid $info;
      }
    }
  }
}

// Levels
.nested {
  margin-left: 0.5rem;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.v-hidden {
  visibility: hidden !important;
}
span.name {
  font-size: 0.8rem;
}
//CodeMirror
#file__content {
  border-top: 1px solid;
}
.CodeMirror {
  min-height: 100vh !important;
  // display: none !important;
  &--active {
    display: block !important;
  }
  &--none {
    display: none !important;
  }
}
.CodeMirror-line {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}
#file__content {
  position: relative;
}
.e {
  border: 2px solid;
}
// .e {
//   position: absolute;
//   z-index: -1;
//   width: 0;
// }
.e.active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  z-index: 3;
}
// .tab.active {
//   background: #fff;
//   border-bottom-color: white !important;
// }

// .tab-pane {
//   display: none;
//   border: 1px solid #bbb;
// }
// .tab-pane.active {
//   display: block;
// // }
// .tab-pane {
//   display: none;
// }
